// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


body{
    font-family: 'IM Fell English SC', serif;
}

.list-group-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .color-cube{
        width: 300px;
        height:45px;
        text-align: center;
        line-height: 48px;
        border-radius: 10px;
        b{
            text-transform: capitalize;
            font-size: 22px;
        }
    }
    .list-actions{
        display:flex;
        gap: 10px;
        margin-top: 10px;
        padding:10px;
        .client-form{
            display:flex;
            justify-content: flex-end;
            gap: 10px;
        }
        
    }
}
    
.sort-form{
    display:flex;
    justify-content: space-between;
    align-items: center;
    .sort-selects{
        width: 75%;
        display:flex;
        column-gap: 10px;
    }
    select{
        border-radius:5px;
    }
    .sort-actions{
        display:flex;
        column-gap: 10px;
        justify-content: flex-end;
        width: 25%;
        align-items: center;
    }
}
.search-form{
    margin-top:20px;
    display:flex;
    justify-content: space-between;
}

.message{
    background-color:rgb(60, 161, 161);
    padding-left: 20px;
}